
.contacts-wrapper {
	margin: 0;
    padding: 20px 0 96px 0;
	@media (max-width: 979px) and (min-width: 768px) {
            padding-left: 15px;
            padding-right: 15px;
    }
    @media only screen and (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
    }
}

#contacts-container {
	padding: 0;
}

.contacts-row1 h1 {
	font: bold 24px/24px 'PT Sans',sans-serif;
    color: #1b1b1b;
    text-transform: uppercase;
}

iframe {
    padding-top: 40px; 
}

#contacts-info, #contact-form {
    padding-right: 0;
    padding-left: 0;
    h2 {
        margin-bottom: 53px;
        text-transform: uppercase;
        font: bold 24px/24px 'PT Sans',sans-serif;
        color: #1b1b1b;
    }
}

#contacts-info {
    h5 {
    font: normal 15px/20px 'PT Sans',sans-serif;
    color: $color5;
    }
    p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: $color4;
    margin-bottom: 20px;
    }
    @media only screen and (min-width: 1200px) {
        width: 370px;
    }
    @media only screen and (min-width: 990px) and (max-width: 1199px) {
        width: 300px;
    }
    @media only screen and (min-width: 768px) and (max-width: 990px) {
        width: 228px;
    }
}

address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    a {
        color: $color5;
        &:hover {
            color: $color4;
            text-decoration: underline;
        }
    }
}


#contact-form  {
    margin-left: 30px;

    @media only screen and (min-width: 1200px) {
        width: 770px;
    }
    @media only screen and (min-width: 990px) and (max-width: 1199px) {
        width: 620px;
    }
    @media only screen and (min-width: 768px) and (max-width: 990px) {
        width: 476px;
    }
    @media only screen and (max-width: 767px) {
        margin-right: 0;
        margin-left: 0;
    }

}


div.wpcf7 {
    margin: 0;
    padding: 0;
}

#p-name, #p-message, #p-submit, #p-clear {
margin-left: 0;
}

#p-message {
    width: 100%;
    height: 200px;
    line-height: 15px;
    background: #f5f5f5;
}


#p-submit input, #p-clear input {
    float: none;
    background: none;
    height: 43px;
    margin: 0 10px 0 0;
    padding: 0 20px 0 20px !important;
    border: 1px solid #d1d1d1;
    border-radius: 0;
    font-size: 10px;
    font-weight: 700;
    text-shadow: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b1b;
     &:hover {
    color: #fff;
    background-color: $color4;
  }  
}


.wpcf7-form #p-submit, .wpcf7-form #p-clear {
  width: 70px;
  height: 43px;
  margin-right: 10px;
  @media (max-width: 767px) {
    float: left;
    }
}

.wpcf7-form-control-wrap {
    display: block;
    position: relative;
}


.wpcf7-form p {
width: 31.623931623931625%;
float: left;
margin-left: 2.564102564102564%;
@media (max-width: 767px) {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    }
}

.wpcf7-form input {
    width: 100%;
    height: 30px;
    line-height: 15px;
    margin: 0;
    background: #f5f5f5;
    min-height: 39px;
    padding: 10px 12px !important;
    border: none;
}
